* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #09090a;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
  position: fixed;
  width: 100%;
  background-color: #09090a;
}

button {
  width: 216px;
  height: 52px;
  border-radius: 8px;
  padding: 16px 24px;
  background-color: transparent;
  color: #ffff;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  border: 1px solid #8b5cf6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  display: flex;
  gap: 32px;
  padding: 180px 48px 48px;
  width: fit-content;
  height: fit-content;
}

.days {
  display: flex;
  gap: 48px;
}

.habits {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 59px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family:'Roboto Mono', monospace;
  color: rgba(161, 161, 170, 1);
  font-size: 20px;
}

.day div {
  margin-bottom: 8px; 
}

.habit {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid #A78BFA;
  border-radius: 8px;
  width: 64px;
  height: 64px;
  display: flex;
}

/*pseudo selector */
input:checked {
  background: #8B5CF6;
}

@media(max-width: 570px) {
  button div {
    display: none;
  }
}